!
!    __  __
!    \ \/ /_ _ ___ ___ ___ _  _ _ _ __ ___ ___
!   _ >  <| '_/ -_|_-</ _ \ || | '_/ _/ -_|_-<
!  (_)_/\_\_| \___/__/\___/\_,_|_| \__\___/__/
!
!  with many extensions

#include "/home/blackcat/.colors/ocean"
!#include "/home/blackcat/.x/fonts/"
#include "/home/blackcat/.x/rofi/ocean"

URxvt.termName: rxvt-unicode
URxvt.geometry: 120x24+352+209
URxvt.internalBorder: 23
!URxvt.transparent: true
!URxvt.shading: 5
!URxvt.fadecolor: #0c0c0c
!URxvt.fading: 30
!URxvt.depth: 32
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.saveLine: 10000
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.letterSpace: -1
!URxvt.lineSpace: 1
URxvt.cursorUnderline: true
!URxvt.highlightColor:
!URxvt.hightlightTextColor:
URxvt.url-select.launcher: firefox
URxvt.url-select.underline: true
URxvt.loginShell: true

URxvt.perl-lib: /home/blackcat/.urxvt/urxvt-perls
URxvt.perl-ext-common:  default,clipboard,keyboard-select,url-select,resize-font
URxvt.clipboard.autocopy: true

! Keybind
URxvt.keysym.Control-Alt-C: perl:clipboard:copy
URxvt.keysym.Control-Alt-V: perl:clipboard:paste
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.C-Escape: perl:keyboard-select:activate
URxvt.keysym.C-u: perl:url-select:select_next

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up

! Xft
Xft.antialias:  true
Xft.autohint:   true
Xft.dpi:        96
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

! Fonts
URxvt*font: xft:Hack:Regular:pixelsize=9:antialias=true:hinting=true
!URxvt*font: xft:Fira Mono for Powerline:Regular:pixelsize=9:antialias=true:hinting=true
